     <div class="footer">
       <div class="w">
       	  <div class="about fl">
       	      <p class="c-j">公司简介</p>
       	      <div class="c-con">
				汉鸿国际投资有限公司控股广东汉鸿木业有限公司和江西华亿木业有限公司，其生产基地位于广东韶关和江西南康。自成立以来公司秉承“创世界名牌聚科技之能”的企业宗旨，坚持走科技创新，务实发展的路线，以生产卓越品质的人造环保板材为使命，诚信经营。牢记质量是企业生存之本，服务是企业立足之本，创新是企业发展之源泉。       	      	
       	      </div>
       	      <div class="c-b">
       	      	 <p>版权所有 洽材网 Copyright© 2014-2016 zhucai.com. All Rights Reserved</p>
       	      	 <p>网站备案许可证号：粤ICP备15041847号</p>
       	      </div> 	 	
       	  </div>
       	  <div class="contact fl">
       	  	 <p class="p1">联系我们</p>
       	  	 <p class="p2">phone : 400-666-0360</p>
       	  	 <p class="p3">E-mail : abc@mail.com</p>
       	  	 <p class="p4">公司地址：深圳市福田区天安数码城</p>
       	  	 <p class="p5"><a class="qq" href="#" title="qq"></a><a class="wx" href="#" title="微信"></a><a class="wb" href="#" title="微博"></a></p>
       	  	 <p class="p6"><a href="#">法律声明</a>  &nbsp;&nbsp;| &nbsp;&nbsp;<a href="#">投资洽谈</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">联系我们</a> &nbsp;&nbsp;| &nbsp;&nbsp;<a href="#">网站地图</a></p>
       	  </div>
       </div>	
     </div> 