<div class="head">
    <div class="logo w">
    	 <a href="#" class="fl"><img src="images/logo.png" alt="" width="200" /></a> 
    	 <p class="fr">
    	    <span>全国客服电话</span>
    	    <b>400-666-0360</b>
    	 </p>
    </div>
    <div class="nav">
       <ul class="w">
       	    <li><a href="#" class="act"> 首页</a></li>
       	    <li><a href="#"> 关于维香</a></li>
       	    <li><a href="#"> 维香产品</a></li>
       	    <li><a href="#"> 无醛胶</a></li>
       	    <li><a href="#"> 品牌荣誉</a></li>
       	    <li><a href="#"> 新闻中心</a></li>
       	    <li><a href="#"> 联系我们</a></li>
       </ul>
    </div>    	
</div>  