<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]><html class="no-js ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]><html class="no-js"><![endif]-->
<!--[if !IE]>
<!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>品牌荣誉</title>
	<meta name="description" content="维香官网">
	<meta name="Keywords" content="维香官网">
	<!-- 360 浏览器内核切换 -->
	<meta name="renderer" content="webkit|ie-comp|ie-stand"> 
	<meta http-equiv="pragma" content="no-cache">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="renderer" content="webkit">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/default.css">
</head>
<body class="body-bg">
    <!--  logo head  -->
    <div class="head">
        <div class="logo w">
           <a href="../index.html" class="fl"><img src="../images/logo.png" alt="" width="200" /></a> 
           <p class="fr">
              <span>全国客服电话</span>
              <b>400-666-0360</b>
           </p>
        </div>
        <div class="nav">
           <ul class="w">
                <li><a href="../index.html"> 首页</a></li>
                <li><a href="about.html"> 关于维香</a></li>
                <li><a href="product.html"> 维香产品</a></li>
                <li><a href="aldehyde.html"> 无醛胶</a></li>
                <li><a href="brand.html"  class="act"> 品牌荣誉</a></li>
                <li><a href="new.html"> 新闻中心</a></li>
                <li><a href="contact.html"> 联系我们</a></li>
           </ul>
        </div>      
    </div>   
     <!-- banner -->
     <a class="banner"  href="javascript:;"  onclick="return false" style="background-image: url(http://10218047.s21i-10.faiusr.com/2/ABUIABACGAAg_JCJvAUotJep7gEwgA84rAI.jpg); background-position: 50% 50%; background-repeat: no-repeat;"> </a>
     <!-- crumbs -->
     <div class="crumbs w" >
       <a href="" class="a-link">首页</a>/<a href="#" class="pad-r">品牌荣誉</a>/<span class="pad-l">汉鸿资质</span>
     </div>
     <!-- content -->
      <div class="content w">
         <ul class="fl f-nav">
            <li><a href="#">品牌荣誉</a></li>
            <li><a href="#" class="act">汉鸿资质</a></li>
            <li><a href="#">合作伙伴</a></li>
            <li><a href="#">检测报告</a></li>
            <li><a href="#">汉鸿优势</a></li>
         </ul>
         <div class="fr r-content">
             <div class="edit-content">
                <h1>汉鸿资质</h1>
                <p>
                  汉鸿国际投资有限公司控股广东汉鸿木业有限公司和江西华亿木业有限公司，其生产基地位于广东韶关和江西南康。自成立以来公司秉承“创世界名牌聚科技之能”的企业宗旨，坚持走科技创新，务实发展的路线，以生产卓越品质的人造环保板材为使命，诚信经营。牢记质量是企业生存之本，服务是企业立足之本，创新是企业发展之源泉。汉鸿国际总规划用地1300亩，前期总投资额超过10亿人民币，现已达成年产值80万立方米(MDF)中高密度纤维板的规模，年营业额近15亿人民币，在中国拥有近800名优秀的员工。                  
                </p>
                <img src="http://10218047.s21i-10.faiusr.com/2/ABUIABACGAAgieeCvAUo8-Xg4QEw4gQ4hgM.jpg" alt="">
                <p>
                  发展至今，企业拥有大规模的生产基地，国际化标准的生产流程管理体系，汇集了行业内具有多年研发经验的团队，注重产品研发和技术创新。多年来不断加大对技术，人才，研发的投入。目前企业使用的是美卓（Metso）制纤系统、辛北尔康普（SIEMPELKAMP）连续压机生产线、布鲁克斯（BRUKS）剥皮削片系统、史丹利蒙（steinemann）砂光系统、安通（anthon）板材锯切系统、意玛（IMAL）施胶系统、帕尔（PAL）木片干洗系统等世界最先进的纤维板制造设备。                  
                </p>
            </div>
         </div>
      </div>
     <!-- footer -->
     <div class="footer">
       <div class="w">
       	  <div class="about fl">
       	      <p class="c-j">公司简介</p>
       	      <div class="c-con">
				      汉鸿国际投资有限公司控股广东汉鸿木业有限公司和江西华亿木业有限公司，其生产基地位于广东韶关和江西南康。自成立以来公司秉承“创世界名牌聚科技之能”的企业宗旨，坚持走科技创新，务实发展的路线，以生产卓越品质的人造环保板材为使命，诚信经营。牢记质量是企业生存之本，服务是企业立足之本，创新是企业发展之源泉。       	      	
       	      </div>
       	      <div class="c-b">
       	      	 <p>版权所有 洽材网 Copyright© 2014-2016 zhucai.com. All Rights Reserved</p>
       	      	 <p>网站备案许可证号：粤ICP备15041847号</p>
       	      </div> 	 	
       	  </div>
       	  <div class="contact fl">
       	  	 <p class="p1">联系我们</p>
       	  	 <p class="p2">phone : 400-666-0360</p>
       	  	 <p class="p3">E-mail : abc@mail.com</p>
       	  	 <p class="p4">公司地址：深圳市福田区天安数码城</p>
       	  	 <p class="p5"><a class="qq" href="#" title="qq"></a><a class="wx" href="#" title="微信"></a><a class="wb" href="#" title="微博"></a></p>
       	  	 <p class="p6"><a href="#">法律声明</a>  &nbsp;&nbsp;| &nbsp;&nbsp;<a href="#">投资洽谈</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">联系我们</a> &nbsp;&nbsp;| &nbsp;&nbsp;<a href="#">网站地图</a></p>
       	  </div>
       </div>	
     </div> 
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="../js/common.js"></script>        
</body>
</html>