<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]><html class="no-js ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]><html class="no-js"><![endif]-->
<!--[if !IE]>
<!--><html><!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>联系我们</title>
	<meta name="description" content="维香官网">
	<meta name="Keywords" content="维香官网">
	<!-- 360 浏览器内核切换 -->
	<meta name="renderer" content="webkit|ie-comp|ie-stand"> 
	<meta http-equiv="pragma" content="no-cache">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="renderer" content="webkit">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/default.css">
</head>
<body class="body-bg">
    <!--  logo head  -->
    <div class="head">
        <div class="logo w">
           <a href="../index.html" class="fl"><img src="../images/logo.png" alt="" width="200" /></a> 
           <p class="fr">
              <span>全国客服电话</span>
              <b>400-666-0360</b>
           </p>
        </div>
        <div class="nav">
           <ul class="w">
                <li><a href="../index.html" > 首页</a></li>
                <li><a href="about.html"> 关于维香</a></li>
                <li><a href="product.html"> 维香产品</a></li>
                <li><a href="aldehyde.html"> 无醛胶</a></li>
                <li><a href="brand.html"> 品牌荣誉</a></li>
                <li><a href="new.html"> 新闻中心</a></li>
                <li><a href="contact.html" class="act"> 联系我们</a></li>
           </ul>
        </div>      
    </div>  
     <!-- banner -->
     <a class="banner"  href="javascript:;"  onclick="return false" style="background-image: url(http://10218047.s21i-10.faiusr.com/2/ABUIABACGAAg_JCJvAUotJep7gEwgA84rAI.jpg); background-position: 50% 50%; background-repeat: no-repeat;"> </a>
     <!-- content -->
      <div class="content w">
           <div class="contact">
               <dl>
                 <dt>联系方式</dt>
                 <dd>深圳市全容电子商务有限公司</dd>
                 <dd><span>QQ：</span>400 666 0360</dd>
                 <dd><span>电话（TEL）：</span>0755-82886808 &nbsp;&nbsp;  400-666-0360</dd>
                 <dd><span>传真（传真）：</span>0755-82886808</dd>
                 <dd><span>地址：</span>深圳市福田区车公庙天安数码城天吉大厦CD座4楼</dd>
               </dl>
               <div class="map"> 
                    <iframe runat="server" width="1200" height="560" src="map.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
               </div>
           </div>
      </div>
     <!-- footer -->
     <div class="footer">
       <div class="w">
       	  <div class="about fl">
       	      <p class="c-j">公司简介</p>
       	      <div class="c-con">
				      汉鸿国际投资有限公司控股广东汉鸿木业有限公司和江西华亿木业有限公司，其生产基地位于广东韶关和江西南康。自成立以来公司秉承“创世界名牌聚科技之能”的企业宗旨，坚持走科技创新，务实发展的路线，以生产卓越品质的人造环保板材为使命，诚信经营。牢记质量是企业生存之本，服务是企业立足之本，创新是企业发展之源泉。       	      	
       	      </div>
       	      <div class="c-b">
       	      	 <p>版权所有 洽材网 Copyright© 2014-2016 zhucai.com. All Rights Reserved</p>
       	      	 <p>网站备案许可证号：粤ICP备15041847号</p>
       	      </div> 	 	
       	  </div>
       	  <div class="contact fl">
       	  	 <p class="p1">联系我们</p>
       	  	 <p class="p2">phone : 400-666-0360</p>
       	  	 <p class="p3">E-mail : abc@mail.com</p>
       	  	 <p class="p4">公司地址：深圳市福田区天安数码城</p>
       	  	 <p class="p5"><a class="qq" href="#" title="qq"></a><a class="wx" href="#" title="微信"></a><a class="wb" href="#" title="微博"></a></p>
       	  	 <p class="p6"><a href="#">法律声明</a>  &nbsp;&nbsp;| &nbsp;&nbsp;<a href="#">投资洽谈</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">联系我们</a> &nbsp;&nbsp;| &nbsp;&nbsp;<a href="#">网站地图</a></p>
       	  </div>
       </div>	
     </div> 
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="../js/common.js"></script>        
</body>
</html>